name: test
on: [push, pull_request]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        scenario: [generated, nongenerated, regenerate]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Ollama
        uses: ai-action/setup-ollama@v1

      - name: Cache LLM
        uses: actions/cache@v5
        with:
          path: ~/.ollama
          key: ${{ runner.os }}-ollama

      - name: Download LLM
        run: ollama pull qwen2.5-coder

      - name: Delete generated test
        if: matrix.scenario == 'nongenerated'
        run: rm cypress/e2e/__generated__/options.cy.ts.json

      - name: Regenerate test
        if: matrix.scenario == 'regenerate'
        run: >
          find cypress/e2e -type f -name "*.cy.ts" |
          xargs sed -i 's/regenerate: false/regenerate: true/g'

      - name: Cypress run
        uses: cypress-io/github-action@v6

      - name: Check generated test
        run: |
          if [[ -f 'cypress/e2e/__generated__/options.cy.ts.json' ]]; then
            echo 'Generated file exists'
          else
            echo 'Generated file does not exist'
            exit 1
          fi

      - name: Record screenshots
        uses: actions/upload-artifact@v5
        if: failure()
        with:
          name: cypress-screenshots
          path: cypress/screenshots

      - name: Record videos
        uses: actions/upload-artifact@v5
        if: failure()
        with:
          name: cypress-videos
          path: cypress/videos
